<html>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="Title" content="CV Andres Urizar">    
    <meta name="Author" content="Alberto Andrés Urízar Mancía">
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
      <style type "text/css">
        h1{
            font-family: "Arial";
        }
      
    </style>	
</head>
<body>
    <div class="contenedor">
              <div class="jumbotron">
                <h3><span class="glyphicon glyphicon-education"></span>  Studies</h3>
                <p>
                    <ul>
                        <li>
                            <img id="logo1" src="~/images/escudo_colegio.jpg" width="30"/> Graduate from "Colegio Suizo Americano" in 2016, in bachelor in computing
                        </li>
                        <br>
                        <li>
                            <img id="logo2" src="~/images/logo_uvg.png" width="30" height="40"/> Actually, I´m studing in second year of Computer Science
                        </li>
                    </ul>
                </p> 
             </div> 
     <div>
         <div class="jumbotron">
             <h3> <span class="glyphicon glyphicon-ok"></span>Skills</h3>
             <p>Languages</p>
             <p>
                 <ul>
                     <li>
                         <span class="glyphicon glyphicon-wrench"></span> Pascal
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-cog"></span> Java
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-wrench"></span> C#
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-cog"></span> MYSQL
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-wrench"></span> PHP
                     </li>
                 </ul>
             </p>
             <p><span class="glyphicon glyphicon-th-large"></span>    Knowledge in Microsoft Word, Excel and Power Point</p>
             <p><span class="glyphicon glyphicon-music"></span>    Play Guitar</p>
             <p><span class="glyphicon glyphicon-briefcase"></span> I worked in an intership, in Tigo, working in Tigo People</p>
         </div>
         </div>
     </div>  
</body>
</html>
