<html>
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta name="Title" content="CV Andres Urizar">    
    <meta name="Author" content="Alberto Andrés Urízar Mancía">
    <meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main2.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
      <style type "text/css">
        padding-left: 11em;
        h1{
            font-family: "Arial";
        }
        ul.navbar{
            position: absolute;
            top: 11em;
            left: 2em;
            width: 9em;
            font-family: "Arial";
        }
        .container {
            padding : 8px;
        }
    </style>	
</head>
<body>
    <div class="container">
              <div class="jumbotron">
                <h3><span class="glyphicon glyphicon-education"></span>  Studies</h3>
                <p>
                    <ul>
                        <li>
                            <img src="~/images/escudo_colegio.jpg" width="30"/> Graduate from "Colegio Suizo Americano" in 2016, in bachelor in computing
                        </li>
                        <br>
                        <li>
                            <img src="~/images/logo_uvg.png" width="30" height="40"/> Actually, I´m studing in second year of Computer Science
                        </li>
                    </ul>
                </p> 
             </div>
          </div>   
     <div class="container">
         <div class="jumbotron">
             <h3> <span class="glyphicon glyphicon-ok"></span>Skills</h3>
             <p>Languages</p>
             <p>
                 <ul>
                     <li>
                         <span class="glyphicon glyphicon-wrench"></span> Pascal
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-cog"></span> Java
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-wrench"></span> C#
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-cog"></span> MYSQL
                     </li>
                     <li>
                         <span class="glyphicon glyphicon-wrench"></span> PHP
                     </li>
                 </ul>
             </p>
             <p><span class="glyphicon glyphicon-th-large"></span>    Knowledge in Microsoft Word, Excel and Power Point</p>
             <p><span class="glyphicon glyphicon-music"></span>    Play Guitar</p>
             <p><span class="glyphicon glyphicon-briefcase"></span> I worked in an intership, in Tigo, working in Tigo People</p>
         </div>
     </div>
</body>
</html>
