body {
    padding-top: 10px;
    padding-bottom: 10px;   
    background-color: blue; 
}
 
* {
    box-sizing: border-box;
}

form{
    width: 80%;
}

#mail{
    width: 100%;
}
#name{
    width: 100%;
}
#comments{
    width: 100%;
}
.jumbotron{
    padding: 8px;
    margin: 7px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.contenedor{
    max-width: 1000px;  
}

/**
img{
    width: 20%;
    height: auto;
}*/

#fb{
    width: 5%;
    height: 5%;
}
#perfil{
    width: 20%;
    height: auto;
}
#nombre{
    margin: 35px;
    border-left: 6px solid red;
    background-color: lightgray;
}
#logo1{
    width: 5%;
    height: auto;
}
#logo2{
    width: 5%;
    height: auto;
}

/* Tablets Ipad size */
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    body{
        background-color: rgb(230, 36, 36);
        font-size: 11pt;
    }
    .jumbotron{
        background-size: 300px auto;
    }
    #nombre{
        border-left: 6px solid royalblue;
    }
}
/* Smartphone Iphone size*/
@media screen and  (max-width: 767px)  {
    body{
        background-color: green;
        font-size: 9pt;
    }
    #nombre{
        border-left: 6px solid rgb(0, 0, 0);
    }
    .jumbotron{
        background-size: 300px auto;
    }
}
