body {
    padding-top: 10px;
    padding-bottom: 10px;   
    background-color: royalblue; 
}
 
* {
    box-sizing: border-box;
}

.jumbotron{
    padding: 8px;
    margin: 7px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.contenedor{
    max-width: 1000px;  
}

img{
    width: 20%;
    height: auto;
}

#fb{
    width: 10%;
    height: 10%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
    body{
        background-color: rgb(230, 36, 36);
        font-size: 11pt;
    }
    .jumbotron{
        background-size: 300px auto;
    }
}
